* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.press {
  padding: 15px 25px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
}

.content {
  display: none;
  align-items: center;
  justify-content: center;
}

.content .box {
  margin: 0px 30px;
  text-align: center;
}

.content .box h3 {
  height: 56px;
  padding: 15px 25px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 10px;
}
